<div class="page-flexbox-wrapper">
    <header>
        <nav class="nav-wrapper" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                </button>
                <a class="brand-logo" ng-href="#/">Book Your Flight</a>
            </div>
            <div class="collapse navbar-collapse pull-right" uib-collapse="!isNavCollapsed" style="background: inherit">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <main class="container">


        <div class="row">
            <form class="form-horizontal">
                <fieldset>

                    <legend>Passenger Details</legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Passenger Name</label>
                        <div class="col-md-4">
                            <input id="name"
                                   name="name"
                                   type="text"
                                   placeholder=""
                                   ng-model="model.ticketDetails.passengerName"
                                   class="form-control input-md" required="true">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="contact">Phone Number</label>
                        <div class="col-md-4">
                            <input id="contact"
                                   name="contact"
                                   ng-model="model.ticketDetails.passengerContact"
                                   type="number"
                                   placeholder=""
                                   class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Email Address</label>
                        <div class="col-md-4">
                            <input id="email"
                                   ng-model="model.ticketDetails.passengerEmail"
                                   name="email"
                                   type="email"
                                   placeholder=""
                                   class="form-control input-md"
                                   required="">

                        </div>
                    </div>

                    <div class="form-group col-md-4 pull-right">
                        <a ng-click="model.confirm(model.ticketDetails)" class="btn green">Confirm</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright BookYourFlight
                <a class="grey-text text-lighten-4 right" ng-href="#/profile">Profile</a>
            </div>
        </div>
    </footer>
</div>