body{
    /*background-color: #525252;*/
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(204, 255, 209, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.my-panels{
    margin-top:5px!important;
    background: rgba(41, 237, 252, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.my-shadow{
    background: rgba(41, 237, 252, 0.9);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.collapsible-shad{
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
