<div class="alert alert-danger" ng-show="model.error">
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>
{{model.user}}
<div class="container-fluid">
    <label for="first">First Name</label>
    <input ng-model="model.user.firstName"
           id="first"
           class="form-control"
           placeholder="John"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName"
           id="last"
           class="form-control"
           placeholder="Doe"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           type="email"
           class="form-control"
           placeholder="john@doe.com"/>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input id="password"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <label for="password2">Validate Password</label>
    <input id="password2"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <a ng-click="model.unregisterUser(model.user)" class="btn btn-danger btn-block">Delete</a>
    <a ng-click="model.update(model.user)" class="btn btn-primary btn-block">Update</a>

    <a ng-click="model.logout()" class="btn btn-danger btn-block">Logout</a>
</div>
