<!--{{model.user}}-->
<hr>
<div class="alert alert-danger" ng-show="model.error">
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><h1 ng-bind="(model.user.firstName)+' ' +(model.user.lastName)"></h1></div>
        <div class="col-sm-2"><img title="profile image" class="img-circle img-responsive" ng-src="{{model.user.image}}" alt="Profile Image" ></div>
        <br/>
        <a ng-if="model.follow" ng-click="model.followUser()" class="btn green darken-4 pull-right">follow</a>
    </div>
    <div class="row">
        <div class="col-sm-3"><!--left col-->
            <ng-include src="'views/user/user/templates/user.detail.view.client.html'"></ng-include>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="Comments">
                    <ng-include src="'views/user/user/templates/tabs/user.comments.tab.view.client.html'"></ng-include>
                </uib-tab>

                <uib-tab index="3" heading="Following">
                    <ng-include src="'views/user/user/templates/tabs/user.following.tab.view.client.html'"></ng-include>
                </uib-tab>

            </uib-tabset>

        </div>

    </div><!--/col-9-->
</div><!--/row-->

