<!--{{model.user}}-->
<div class="page-flexbox-wrapper">
    <header>
        <nav class="nav-wrapper" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                    <span class="icon-bar white"></span>
                </button>
                <a class="brand-logo" ng-href="#/">Book Your Flight</a>
            </div>
            <div class="collapse navbar-collapse pull-right" uib-collapse="!isNavCollapsed" style="background: inherit">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <hr>


    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

</div>
