<br/>
<div class="container-fluid">
    <label for="first">First Name</label>
    <input ng-model="model.user.firstName"
           id="first"
           class="form-control"
           placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName"
           id="last"
           class="form-control"
           placeholder="Last name"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           type="email"
           class="form-control"
           placeholder="email@example.com"/>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input id="password"
           class="form-control"
           type="password"
           placeholder="password"/>

    <label for="password2">Validate Password</label>
    <input id="password2"
           class="form-control"
           type="password"
           placeholder="password"/>

    <div class="center">
        <a ng-click="model.update(model.user)" class="btn green darken-1">Update</a>
        <a ng-click="model.logout()" class="btn light-blue darken-1 ">Logout</a>
        <a ng-click="model.unregisterUser(model.user)" class="btn red darken-4">Delete</a>
    </div>
</div>